<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="ion-text-center ion-padding description">Payment receipt will be sent to {{businessEmail}}</h4>
  <div id="paystackEmbedContainer"></div>
</ion-content>
