<ion-content class="ion-padding blackBackground">
<img [src]="pic">
</ion-content>
<ion-footer style="background-color: black;" class="ion-padding">
  <ion-button expand="block" size="large" color="danger" (click)="dismiss()">Close</ion-button>
</ion-footer>