<ion-header class="ion-no-border">
  <div class="header">
    <h2>Messages</h2>
    <app-top-right-menu style="display: flex;" slot="end"></app-top-right-menu>
  </div>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list>
    <ion-item *ngFor="let m of messages" button (click)="gotoMessage(m)">
      <ion-avatar slot="start">
        <!--<img *ngIf="m.chats[m.chats.length-1].sender=='business'" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        <img *ngIf="m.chats[m.chats.length-1].sender=='user'" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp">
        -->
        <img *ngIf="!m.businessLogo" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        <img *ngIf="m.businessLogo" [src]="m.businessLogo">
      
      </ion-avatar>
      <ion-label>
        <h3 [ngClass]="{'unread' : m.read=== false }">{{(m.userId==userId) ? m.businessName : m.userName}}</h3>
        <p>{{m.chats[m.chats.length-1].message}}</p>
      </ion-label>
      <ion-note slot="end">
        {{m.timeago}}
      </ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="messages?.length==0" class="emptyList centerDiv">
    <h4>No messages</h4>
  </div>
</ion-content>