<div [formGroup]="parentForm" style="margin-top:10px">
  <ion-label position="stacked">{{label}}</ion-label>
  <ion-textarea 
    [placeholder]="placeholder" 
    [maxlength]="maxLength" 
    [formControlName]="controlName"
    *ngIf="isTextArea">
  </ion-textarea>
  <ion-input [placeholder]="placeholder" 
    [maxlength]="maxLength" 
    [formControlName]="controlName"
    [type]="type" 
    *ngIf="!isTextArea"></ion-input>
  
    <div class="errorMessage">
      {{getErrorMessage(parentForm, controlName)}}
    </div>
</div>