ion-content, ion-toolbar{
    //--ion-background-color:#032B04;
}

label
{
    //--ion-color:white;

}

.slimheading
{
    font-weight: 300;
    color:white;
    text-align: center;
}

#loginForm
{
    padding: 40px 0;
}

.go-to-register
{
    //color:white;
}