<ion-header class="ion-no-border">
  <div class="header">
    <h2>Settings</h2>
    <app-top-right-menu style="display: flex;" slot="end"></app-top-right-menu>
  </div>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <h2>Service Finder</h2>
    <ion-img style="width:120px; margin-right:auto; margin-left:auto" src="/assets/img/sflogo.png"></ion-img>
    <p>{{appVersion}}</p>
    <p>&copy;{{theYear}}</p>
    <p>servicefinderapp.com</p>
  </ion-card>

  <ion-card (click)="goTo('user-profile')" *ngIf="userSrv.getUser() && !userSrv.getUser().guest">
    <ion-card-content>
      <b>{{userSrv.getUser().name}}</b>
      <div *ngIf="userSrv.getUser().city">{{userSrv.getUser().city}}, {{userSrv.getUser().state}} {{userSrv.getUser().zip}}</div>
      <div *ngIf="userSrv.getUser().email">{{userSrv.getUser().email}}</div>
      <div *ngIf="userSrv.getUser().phone">{{userSrv.getUser().phone}}</div>
      <ion-button fill="clear" expand="block" size="large"
        *ngIf="userSrv.getUser().name !== undefined || userSrv.getUser().email !== undefined|| userSrv.getUser().phone !== undefined">
        Update</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item (click)="goTo('contact-form', userSrv.getUser())">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>Contact the developer</ion-label>
    </ion-item>
  
    <ion-item (click)="openTOS()">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label>Legal terms</ion-label>
    </ion-item>
  
    <ion-item (click)="logOut()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Log out</ion-label>
    </ion-item>
  </ion-card>
</ion-content>