<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>{{request?.category}} request</ion-title>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="request?.status=='completed'" 
  style="background-color: silver; color:white; text-align: center; padding:5px">Completed</div>
  
<ion-content class="ion-padding">
  <div style="display: flex;  justify-content: space-between;">
    <div>
      <div class="description">From</div>
      <b>{{request?.userName}}</b>
      <div style="font-size:0.8em;">{{request?.city}}, {{request?.state}}</div>
    </div>
    <div style="text-align: right;">
      <div class="description">Date</div>
      <b>{{request?.createdDate | date : 'mediumDate'}}</b>
    </div>
  </div>
  
  <div style="margin-top: 20px;" class="description">Details</div>{{request?.details}}
  <ion-row>
    <ion-col *ngFor="let pic of request?.media">
      <img [src]="pic" style="max-height:120px" (click)="openPreview(pic)"> 
    </ion-col>
  </ion-row>

  <div class="ion-text-center" style="margin-top: 40%;" 
    *ngIf="quote == null && request?.status !== 'completed'">
    <div *ngIf="businessAccount?.credits > 0">
      <div class="description" style="margin-bottom:20px">
        Got questions? You can request more details from the user when sending a quote</div>
      <ion-button expand="block" size="large" (click)="sendQuote()">Send quote</ion-button>
    </div>
    <div class='description' *ngIf="businessAccount?.credits == 0">
      You you do not have enough credits to send a quote.
      Please go back and load credits to your account to continue.
    </div>
  </div>
  
  <div class="ion-text-center ion-padding-top" *ngIf="quote != null">
    <ion-button *ngIf="request?.status!='completed'" (click)="sendMessage()" color="primary" fill="clear">
      <ion-icon name="chatbox-outline"></ion-icon>Message
    </ion-button>
    <h5>Quote sent</h5>

    <div *ngIf="quote.status=='rejected'" style="color:red">Quote rejected
      <span *ngIf="quote.statusReason" style="color:gray"><br>Reason: {{quote.statusReason}}</span>
    </div>
    <h1 style="font-size:3em">
      {{currency}}{{quote.amount | number}}
    </h1>
    <div class='description'>Sent {{tools.timeAgo(quote.statusDate)}}</div>
    <div class='description' *ngIf="request?.status!='completed'">
      The user has received your quote and your contact details.
      If interested, he/she will contact you</div>
  </div>
</ion-content>

<ion-footer class="ion-text-center graytext ion-padding">
  <div *ngIf="request?.status=='completed'">
    Service rating
    <div class='description'>Rated on {{request.statusDate | date:'medium'}}</div>
    <span style='padding-right:3px; font-size:2em; color:darkslategray' *ngFor="let number of [1,2,3,4,5]">
      <ion-icon [name]="(request.rating < number) ? 'star-outline' : 'star'"></ion-icon>
    </span>
    <p *ngIf="request.ratingNotes != ''">Comment: "{{request.ratingNotes}}"</p>

  </div>
  <div *ngIf="quote != null && request?.status !== 'completed'">
    If you do provide the service to the user, remember to remind him/her to rate your service after completion.
  </div>
</ion-footer>