<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Completed Service details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="eachItem" style="display: flex;  justify-content: space-between;">
    <div>
      <div class="description">Created</div>
      {{request?.createdDate | date}}
    </div>
    <div class="ion-text-right">
      <div class="description">Service rated on</div>
      {{request?.statusDate | date}}
    </div>
  </div>
    
  <div class="eachItem">
    <div class="description">Category</div>
      {{request?.category}}
  </div>
  <div class="eachItem">
      <div class="description">Details</div>
        {{request?.details}}
  </div>
  <div class="eachItem">
    <div *ngFor="let pic of request?.media">
      <img [src]="pic" style="max-height:120px"> 
    </div>
  </div>
  <div *ngIf="request?.businessQuote" class="eachItem">
      <div class="description">Service Provider</div>
      <div style="display: flex;">
          <ion-avatar>
            <img *ngIf="request?.businessQuote.businessLogo" [src]="request?.businessQuote.businessLogo">
            <img *ngIf="!request?.businessQuote.businessLogo" src="assets/img/no-picture.png">
          </ion-avatar>
          <ion-label style="margin-left: 10px;">
            <b>{{request?.businessQuote.businessName}}</b>
            <br>{{request?.businessQuote.businessLocation}}
            <div *ngIf="request?.businessQuote.businessPhone">{{request?.businessQuote.businessPhone}}</div>
            <div *ngIf="request?.businessQuote.businessEmail">{{request?.businessQuote.businessEmail}}</div>
          </ion-label>
      </div>
  </div>
  <div *ngIf="request?.businessQuote" class="eachItem">
      <div class="description">Quote</div>
       {{userSrv.userSubject$.value.currencySymbol}}{{request?.businessQuote.amount |  number:'1.0'}}
  </div>
  <div class="eachItem">
      <div class="description">Your ratings</div>
        {{request?.rating}}/5
  </div>
  <div *ngIf="request?.ratingNotes" class="eachItem">
      <div class="description">Your comments</div>
        {{request?.ratingNotes}}
  </div>
</ion-content>

<ion-button fill="clear" (click)="goBack()">Back</ion-button>
