<ion-header style="background-color: black;" class="ion-text-center">
  <img src="/assets/img/sflogo.png" style="max-height:100px;">
  <h1 class="slimheading">Register</h1>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
    <ion-item>
      <ion-label  position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmpassword" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.confirmpassword">
        <div class="error-message" *ngIf="validations_form.get('confirmpassword').hasError(validation.type) && validations_form.get('confirmpassword').touched">
          {{ validation.message }}
        </div>
      </ng-container>
      <div class="error-message" *ngIf="!validations_form.get('confirmpassword').errors && validations_form.hasError('passwordNotMatch') && (validations_form.get('confirmpassword').dirty || validations_form.get('confirmpassword').touched)">
        Password and Confirm Password fields should match
      </div>
    </div>

<!-- 
    <ion-item>
      <ion-label  position="floating" color="primary">City</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.city">
        <div class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">State (abbr.)</ion-label>
      <ion-input type="text" formControlName="state"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.state">
        <div class="error-message" *ngIf="validations_form.get('state').hasError(validation.type) && (validations_form.get('state').dirty || validations_form.get('state').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">Zip/postal code</ion-label>
      <ion-input type="text" formControlName="zip"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.zip">
        <div class="error-message" *ngIf="validations_form.get('zip').hasError(validation.type) && (validations_form.get('zip').dirty || validations_form.get('zip').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Country</ion-label>
      <ion-select id="country" formControlName="country" cancelText="Cancel" okText="Choose">
          <ion-select-option [value]="USA">United States</ion-select-option>
          <ion-select-option [value]="NG">Nigeria</ion-select-option>
        </ion-select>
    </ion-item>
 -->
    <ion-button class="submit-btn" type="submit" expand="block"  [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login ion-text-center">Already have an account?
    <ion-button expand="block" (click)="goLoginPage()">Log In</ion-button>
    <!-- <br><a (click)="goLoginPage()">Try to Log In.</a> -->
  </p>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button fill="clear" color="danger" routerLink="/start" routerDirection="root">Back</ion-button>
</ion-footer>