<ion-header class="ion-no-border">
  <div class="header">
    <h2>Completed requests</h2>
    <app-top-right-menu style="display: flex;" slot="end"></app-top-right-menu>
  </div>
</ion-header>
<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item *ngFor="let req of requests$ | async" lines="none" (click)="gotoDetails(req)"
      routerDirection="forward">
      <ion-avatar slot="start">
        <img *ngIf="req.media" [src]="req.media[0]">
        <img *ngIf="!req.media" src="assets/img/no-picture.png">
      </ion-avatar>
      <ion-label>
        <h2>{{req.category}}</h2>
        <p>{{req.details}}</p>
      </ion-label>
      <ion-note slot="end" color="medium" class="ion-text-right">
        <div class="listRequestDate">{{req?.statusDate | date : 'MMM d'}}</div>
        <span style='padding-right:2px; font-size:0.5em' *ngFor="let number of [1,2,3,4,5]">
          <ion-icon [name]="(req?.rating < number) ? 'star-outline' : 'star'"></ion-icon>
        </span>
      </ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="noRequests" class="emptyList centerDiv ion-text-center">
    No completed requests
  </div>
</ion-content>