<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Load Credits</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/business-account" routerDirection="back">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center">
    <h3>
      Current balance: {{(businessObj?.credits) ? businessObj?.credits : 0}} credit<span *ngIf="businessObj?.credits>1">s</span>
    </h3>
<div class="ion-padding">
  Choose the amount to load.
  <p>{{creditcost?.currency}}{{creditcost?.unitcost}} per credit</p>
  <ion-grid>
    <ion-row class="ion-padding-top" class="ion-padding-bottom">
      <ion-col size="4" class="ion-text-center" *ngFor="let c of arrCredits">
        <ion-button shape="round" size="large" [fill]="(c.quantity !== chosencredits) ? 'outline' : 'solid'" (click)="choosecredits(c)">{{creditcost?.currency}}{{c.key}}</ion-button>
        <div class="description">{{c.quantity}} credits</div>
        <div *ngIf="c.bonus>0" class="description"><b>{{c.bonus}} extra</b></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="payprocessor == 'stripe'">
      <ion-col class="ion-text-center">
        <div *ngIf="businessSrv.businessSubject$.value.creditCard == undefined">
          <h6>You have not added your credit card</h6>
          <ion-button color="success" fill="clear" (click)="openCCForm()">Add a card</ion-button>
        </div>
        <div *ngIf="businessSrv.businessSubject$.value.creditCard != undefined">
          Pay with <b>{{businessSrv.businessSubject$.value.creditCard.brand}}</b> ending in <b>{{businessSrv.businessSubject$.value.creditCard.last4}}</b>
          <ion-button size="large" expand="block" color="success" fill="clear" (click)="openCCForm()">Update card</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-center">
        <div class="ion-padding-top" class="description">{{ message }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="payprocessor == 'stripe'">
      <ion-col>
        <ion-button size="large" [disabled]="chosencredits==0 || businessObj?.creditCard == null" 
          expand="block" color="primary" (click)="payForCredits()">
          Load {{ chosencredits>0 ? (chosencredits+chosenbonus) : 0}} credits</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="payprocessor == 'paystack'">
      <ion-col>
          <ion-button size="large" expand="block" [disabled]="chosencredits==0"
             color="success" (click)="openPaystackForm()">Pay {{creditcost?.currency}}{{ totalcost>0 ? totalcost:0 }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p class="ion-text-center">
    <ion-button fill="clear" size="small" routerLink="/credit-history">View Past purchases</ion-button></p>
</div>
</ion-content>