<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Quote Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <!--  <ion-button slot="end" color="dark" (click)="dismiss()">
      Close
    </ion-button> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-padding ion-text-center">
    <ion-card-header>
      <ion-avatar style="margin:0 auto">
        <img *ngIf="businessObj?.logo" [src]="businessObj?.logo">
        <img *ngIf="!businessObj?.logo" src="assets/img/business-sharp.svg">
      </ion-avatar>
      <ion-card-title>{{businessObj?.name}}</ion-card-title>
    </ion-card-header>
    {{businessObj?.address}}, {{quote?.businessLocation}} {{businessObj?.zip}}
    <br>{{businessObj?.phone}}
    <br>{{businessObj?.email}}
    <div *ngIf="!businessObj?.rating">
      Not yet rated
    </div>
    <div *ngIf="businessObj?.rating">
      <span *ngFor="let number of [1,2,3,4,5]">
        <ion-icon *ngIf="businessObj?.rating / businessObj?.ratingCount  >= number" name="star" class="ratingstar"></ion-icon>
        <span *ngIf="businessObj?.rating / businessObj?.ratingCount  < number">
          <ion-icon *ngIf="number - (businessObj?.rating / businessObj?.ratingCount) >= 1" name="star-outline" class="ratingstar"></ion-icon>
          <ion-icon *ngIf="number - (businessObj?.rating / businessObj?.ratingCount) < 1" name="star-half" class="ratingstar"></ion-icon>
        </span>
      </span>
    </div>
    <hr>
    <h4>Quote</h4>
    <div class="description">Submitted {{showHowLongAgo(quote?.statusDate)}}</div>
    <div style="font-size:3em">{{currency}}{{quote?.amount | number}}</div>
    <hr>
    <h4>Note</h4>
    {{quote?.note}}

    <p class="description">
      Disclaimer: Service Finder does not do background check on the service providers.
      <br>Please do your due diligence before conducting business with this business.
    </p>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="call()" color="primary" fill="outline">
            <ion-icon slot="start" name="call"></ion-icon>Call
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-button (click)="sendMessage()" color="primary" fill="outline">
            <ion-icon slot="start" name="chatbox"></ion-icon>Message
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding">
  <div *ngIf="!quote?.rating">
    <div class="description">If you choose to work with this provider, please rate the service afterwards</div>
    <ion-button expand="block" (click)="rate()">Rate</ion-button>
  </div>

  <div *ngIf="quote?.rating" class="ion-text-center graytext">
    You rated the service<br>
    <span style='padding-right:3px; font-size:2em' *ngFor="let number of [1,2,3,4,5]">
      <ion-icon [name]="(quote?.rating < number) ? 'star-outline' : 'star'"></ion-icon>
    </span>
    <div *ngIf="quote?.ratingNotes != null && quote?.ratingNotes != ''">Comment: "{{quote?.ratingNotes}}"</div>

  </div>
  
</ion-footer>