<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button tab="messages-list">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-badge *ngIf="howManyUnreads>0" color="success">{{howManyUnreads}}</ion-badge>
      </ion-tab-button><!-- 
      
      <ion-tab-button tab="user-profile">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
   -->
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>