<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Credit card form</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="businessSrv.businessSubject$.value.creditCard == null" class="ion-padding">
    <div style="margin-bottom:20px">
      <ion-label position="stacked" color="primary">Name on card</ion-label>
      <ion-input type="text" #ccname [value]="creditcard.name" (input)="creditcard.name = $event.target.value" placeholder="Name on card"></ion-input>
    </div>

    <div>
<!--       <form id="payment-form">
        <div id="payment-element">
        </div>
        
        <ion-button type="submit" color="success" 
          size="large" expand="block"
          style="position:relative;top:380px">Save Card</ion-button>
        <div id="error-message">
        </div>
      </form> -->
      <form action="/charge" method="post" id="payment-form">
        <div class="form-row">
          <ion-label position="stacked" color="primary">
            Credit or debit card
          </ion-label>
          <div id="card-element">
          </div>
      
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="description ion-padding ion-text-center">
          Your card information is securely managed by <b>Stripe</b>, a third-party payment processor. Service Finder never stores this information.
          <!-- <br>By adding your credit card, you agree to our <ion-button fill="clear" (click)="showTOS()">Services Agreement</ion-button> -->
        </div>
        <ion-button color="warning" fill="clear" size="large" expand="block"
          (click)="dismiss()" routerDirection="backward">Cancel</ion-button>
        <ion-button type="submit" color="success" size="large" expand="block">Save Card</ion-button>
      </form>
    </div>
  </div>
  

  <div *ngIf="businessSrv.businessSubject$.value.creditCard != null" class="ion-padding">
        <h4 color="secondary">{{businessSrv.businessSubject$.value.creditCard?.brand}}</h4>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label color="primary" position="stacked">Card Number</ion-label>
              <div class="bigblacktext">**********{{businessSrv.businessSubject$.value.creditCard?.last4}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label color="primary" position="stacked">Name on card</ion-label>
              <ion-input type="text" [value]="businessSrv.businessSubject$.value.creditCard.name" (input)="businessSrv.businessSubject$.value.creditCard.name = $event.target.value"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label color="primary" position="stacked">Expiration date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select [(ngModel)]="businessSrv.businessSubject$.value.creditCard.expMonth" 
                [selectedText]="businessSrv.businessSubject$.value.creditCard.expMonth" (ionChange)="setCCMonth($event)">
                <ion-select-option value="01">01</ion-select-option>
                <ion-select-option value="02">02</ion-select-option>
                <ion-select-option value="03">03</ion-select-option>
                <ion-select-option value="04">04</ion-select-option>
                <ion-select-option value="05">05</ion-select-option>
                <ion-select-option value="06">06</ion-select-option>
                <ion-select-option value="07">07</ion-select-option>
                <ion-select-option value="08">08</ion-select-option>
                <ion-select-option value="09">09</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="11">11</ion-select-option>
                <ion-select-option value="12">12</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="4">
              <ion-input type="tel" [value]="businessSrv.businessSubject$.value.creditCard.expYear" (input)="businessSrv.businessSubject$.value.creditCard.expYear = $event.target.value" size="4" maxlength="4"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="description">
              To replace this card, remove it first, then add the new card.
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-button color="warning" size="large" expand="block" fill="clear" (click)="deleteCard()">Remove card</ion-button>

        <ion-button color="primary" size="large" expand="block" (click)="saveCard()">Save changes</ion-button>
  </div>
</ion-content>