<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Service Finder</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->
<ion-header style="background-color: black;" class="ion-text-center">
  <img src="/assets/img/sflogo.png" style="max-height:100px;">
  <h1 class="slimheading">Sign In</h1>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" id="loginForm" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
          

    <ion-item>   
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="success" [disabled]="!validations_form.valid">Log In</ion-button>
        </ion-col>
      </ion-row>
      <label class="error-message">{{errorMessage}}</label>
      <br>
      <div class="ion-text-center">
        <ion-text color="primary">
          Don't have an account?
          <ion-button expand="block" (click)="goToRegisterPage()">Register</ion-button>
          <br>
          Can't login?
          <ion-button expand="block" (click)="goToforgotpassword()">Forgot Password</ion-button>
        </ion-text>
      </div>
  </form>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button fill="clear" color="danger" expand="block" routerLink="/start" routerDirection="root">Back</ion-button>
</ion-footer>