<form [formGroup]="authForm"> 
  <div style="margin-top:10px">
    <ion-label color="primary" position="stacked" type="email">Email</ion-label>
    <ion-input autofocus="true" formControlName="email" type="email" style="border-bottom:solid 1px gray;"> </ion-input> 
  </div> 
  <!-- <app-text-box
    [parentForm]="authForm" [controlName]="email" [label]="Email"
    [placeholder]="email" [type]="email" [isTextArea]="false" 
    [getErrorMessage]="getErrorMessage" maxlength=20
  ></app-text-box>-->
  <div style="margin-top:10px" *ngIf="!isPasswordResetPage">
    <ion-label color="primary" position="stacked">Password</ion-label> 
    <ion-input formControlName="password" type="password" style="border-bottom:solid 1px gray;"> </ion-input> 
  </div>


  <ion-button (click)="submitCredentials(authForm)" expand="block" size="large" 
    [disabled]="!authForm.valid || disableSubmit">
    {{ actionButtonText }} 
  </ion-button>
</form>