form {
    padding: 12px; margin-bottom: 32px; 
    ion-button {
    margin-top: 30px; }
}
    p{
    font-size: 0.8em; color: #d2d2d2;
    }
    ion-label { margin-left: 5px;
    } 
    ion-input {
    padding: 5px; }