<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title >User profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref ='/tabs/home'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="description ion-text-center ion-padding">
    All fields are required, however either city & state AND/OR zip/postal code is required to find nearby businesses.
  </div>
  <form *ngIf="userForm" [formGroup]="userForm">
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="floating">Your name (nickname is fine)</ion-label>
        <ion-input formControlName="name" type="text" autocapitalize="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">City</ion-label>
        <ion-input formControlName="city" autocapitalize="on"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">State/Province</ion-label>
        <ion-select okText="Select" cancelText="Cancel" formControlName="state"
        [selectedText]="userForm.value.state" placeholder="Choose one">
          <ion-select-option *ngFor="let st of states" [value]="st">{{st}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Zip/Postal code</ion-label>
        <ion-input formControlName="zip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Country</ion-label>
        <ion-select cancelText="Cancel" okText="Choose" formControlName="countrycode" [selectedText]="userForm.value.country"
        (ionChange)="setCountry($event.target.value)"
        >
          <ion-select-option *ngFor="let item of countries" [value]="item.countrycode">{{item.countryname}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <ion-button [routerLink]="['/tabs/settings']" routerDirection=“back” color="warning" expand="block" fill="clear">Cancel</ion-button>
  <ion-button class="submit-btn" expand="block"  color="success" (click)="save()">Save changes</ion-button>  
</ion-content>

<ion-footer>
  </ion-footer>