<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Send quote</ion-title>    
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div style="display: flex; justify-content: space-between;">
      <div style="text-align: left;">
        <div class="description">From</div>
        <b>{{request?.city}}</b>
      </div>
      <div style="text-align: right;">
        <div class="description">Date</div>
        <b>{{request?.createdDate | date : 'mediumDate'}}</b>
      </div>
    </div>
    <div style="margin-top: 20px;" class="description">Details</div>
    {{request?.details}}
    <div class="ion-text-center pt-3">
      <h5>Enter the quote</h5>
      <div class="description ion-text-center">
        It can be an estimate, service fee, consultation fee, whatever. 
      </div>
      <ion-input type="number" [(ngModel)]="amount" [placeholder]="quoteplaceholder" autofocus="true" 
        style="font-size:3.5em; width:70%; margin-left:auto; margin-right:auto; text-align: center;"></ion-input>  
    </div>
    <div class="description ion-text-center ion-padding">
      Provide details on your service. If you need more info from the user, request below.
    </div>
    <ion-textarea [(ngModel)]="note" rows="6" cols="25"
    style="margin-left:auto; margin-right:auto; border:solid 1px silver;"></ion-textarea>
  </ion-content>

<ion-footer>
  <ion-button expand="block" size="large" [disabled]="amount<1 || note===''" (click)="send()">Send</ion-button>
</ion-footer>