<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>{{receiver}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list>
  <ion-item *ngFor="let c of chats" lines="none">
    <ion-avatar slot="start">
      <img *ngIf="c.sender=='business'" [src]="bizLogo">
      <img *ngIf="c.sender=='user'" src="assets/img/person-circle-outline.svg">
    </ion-avatar>
    <ion-label>
      <div style="display: flex;justify-content: space-between;">
        <h3>{{(c.sender=='business') ? messageObj.businessName : messageObj.userName}}</h3>
        <div style="font-size: 0.8em; color:gray">{{showHowLongAgo(c.createdDate)}}</div>
      </div>
      <p class="ion-text-wrap">{{c.message}}</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
<ion-footer *ngIf="!isCompleted">
  <ion-row>
    <ion-col size="10">
      <ion-textarea [(ngModel)]="newChat.message" placeholder="Type here"></ion-textarea>
    </ion-col>
    <ion-col class="ion-text-left" size="2">
      <ion-button style="margin-left:-20px" fill="clear" [disabled]="newChat.message=='' || newChat.message==null" (click)="send()">Send</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
