  
<ion-header class="ion-no-border">
  <div class="header">
    <h2>Service Finder</h2>
    <app-top-right-menu style="display: flex;" slot="end"></app-top-right-menu>
  </div>
</ion-header>
<ion-content fullscreen="true">
  
  <ion-list lines="none" class="ion-no-padding">
    <ion-item *ngFor="let req of requests$ | async" [routerLink]="['/request-details/', req.id]" routerDirection="forward">
      <ion-avatar slot="start">
        <img *ngIf="req.media" [src]="req.media[0]">
        <img *ngIf="!req.media" src="assets/img/no-picture.png">
      </ion-avatar>
      <ion-label>
        <h2>{{req.category}}</h2>
        <p>{{req.details}}</p>
      </ion-label>
      <ion-note slot="end" color="primary" class="ion-text-right">
        <div class="listRequestDate">{{req?.timeago}}</div>
        <div style="font-size:25px">{{req.quoteCount}}</div>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="['/request-form']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div *ngIf="(requests$ | async)?.length == 0" class="ion-text-center emptyList centerDiv">
    <div>No requests</div>
    <ion-button [routerLink]="['/request-form']" routerDirection="forward" fill="clear">Create a request</ion-button>
  </div>
</ion-content>