<ion-header class="ion-no-border">
  <div class="header">
    <h2>{{title}}</h2>    
    <ion-button fill="clear" (click)="tools.goBack()" color="warning">Cancel</ion-button>
  </div>
</ion-header>

<ion-content>
  <form *ngIf="requestForm" class="greyBackground" [formGroup]="requestForm">
    <ion-list class="greyBackground">
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Category</ion-label>
        <ion-select [selectedText]="requestObj?.category" placeholder="Choose one" (ionChange)="setCategory($event)"  formControlName="category">
          <ion-select-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</ion-select-option>
        </ion-select>
        <div class="description ion-text-center" style="font-size:0.7em">If the category is not listed, please contact the developer at info@servicefinderapp.com</div>
      </ion-item>
    
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Details</ion-label>
        <div *ngIf="categoryQuestions" class="description" style="margin-top:1em">
          Please answer the following below
          <ul style="margin-left:-2em">
            <li *ngFor="let q of categoryQuestions">{{q}}</li>
            <li>Provide any other relevant info</li>
          </ul>
        </div>
        <ion-textarea rows="7" autocapitalize="on"
          placeholder="Please be as specific as possible"
          formControlName="details"></ion-textarea>
      </ion-item>
    </ion-list>
    
    
    <ion-grid class="greyBackground">
      <h5 class="ion-padding-start">Add photos <small>(optional)</small></h5>
      <ion-row>
        <ion-col size="3" *ngFor="let photo of photoService.photos; index as position" style="max-height: 120px;">
          <ion-img *ngIf="photo" [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
        </ion-col>
        <ion-col *ngIf="photoService.photos.length < 4" size="3">
          <ion-icon style="font-size: 3em; color: gray" name="camera-outline" (click)="photoService.addNewToGallery()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-list class="greyBackground">
      <ion-list-header>
        <b>Location</b>
      </ion-list-header>
      <ion-item class="inputBox" *ngIf="!userObj.country">
        <ion-label position="stacked" color="primary">Country</ion-label>
        <ion-select [selectedText]="userObj?.country" placeholder="Choose one" (ionChange)="setCountry($event.target.value)">
          <ion-select-option *ngFor="let c of countries" [value]="c.countrycode">{{c.countryname}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputBox">
        <ion-label  position="stacked" color="primary">City</ion-label>
        <ion-input autocapitalize="on" type="text" formControlName="city"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.city">
          <div class="error-message" *ngIf="requestForm.get('city').hasError(validation.type) && (requestForm.get('city').dirty || requestForm.get('city').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">State/Province</ion-label>
        <ion-select okText="Select" [selectedText]="userObj.state"  cancelText="Cancel" formControlName="state" placeholder="Choose one">
          <ion-select-option *ngFor="let st of states" [value]="st">{{st}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Zip/Postal code (optional)</ion-label>
        <ion-input type="text" formControlName="zip"></ion-input>
      </ion-item>
    </ion-list>

    <ion-item class="inputBox">
      <ion-label position="stacked" color="primary">Email</ion-label>

      <ion-input type="text" inputmode="email" formControlName="email"></ion-input>
      <div class="description ion-text-center" style="font-size:0.7em" *ngIf="isGuest">
        The request code will be sent to this address</div>
    </ion-item>
  </form>

    <!-- New account form-->
    <div *ngIf="isGuest" class="inputBox" 
      style="display:flex; flex-direction:row; justify-content: space-between; padding:10px">
      <div>
        <ion-label position="stacked" color="primary">Create account (optional)</ion-label>
        <div class="description ion-text-center" style="font-size:0.7em">
          With an account, you can track your requests</div>
      </div>
      <ion-toggle class="ion-float-end" (click)="showAccountForm()"></ion-toggle>
    </div>
    <div *ngIf="showNewAccount">
      <div style="margin-left: 20px;">
        <h3 style="font-weight: bold;">New account</h3>
        <div class="description">The email address above will be used for signing in.</div>
      </div>
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Your name</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.name"></ion-input>
      </ion-item>
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input type="password" required [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item class="inputBox">
        <ion-label position="stacked" color="primary">Confirm Password</ion-label>
        <ion-input type="password" required [(ngModel)]="confirmpassword"></ion-input>
      </ion-item>
    </div>
  <div style="margin-top:20px">
    <ion-button (click)="tools.goBack()" size="large" expand="block" color="warning" fill="clear">Cancel</ion-button>
    <ion-button [disabled]="disableSubmit" expand="block" size="large" *ngIf="isNew==true" (click)="create()">Submit</ion-button>
    <ion-button [disabled]="disableSubmit" expand="block" color="success" 
      *ngIf="isNew==false" size="large" (click)="save()">Save changes</ion-button>
  </div>
</ion-content>