<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Credit loading history</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col><b>Date</b></ion-col>
    <ion-col class="ion-text-center"><b>Credits</b></ion-col>
    <ion-col class="ion-text-right"><b>Cost</b></ion-col>
  </ion-row>
  <ion-row *ngFor="let h of history" class="ion-no-padding">
    <ion-col>
      {{h.createdDate  | date : 'mediumDate'}}
    </ion-col>
    <ion-col class="ion-text-center">
      {{h.quantity}}
    </ion-col>
    <ion-col class="ion-text-right">
      {{currency}}{{h.cost | number}}
    </ion-col>
  </ion-row>
</ion-content>