<ion-header class="ion-no-border">
  <div class="header">
    <h2>Business Account</h2>
  </div>  
</ion-header>

<ion-content>
    <form *ngIf="businessForm" [formGroup]="businessForm">
      <div class="inputBox ion-text-center logo">
          <ion-text color="primary">Logo</ion-text>
         <ion-img *ngIf="photoService.photos[0]" [src]="photoService.photos[0].webviewPath" 
           (click)="photoService.showActionSheet(photoService.photos[0],0)"></ion-img>
         <ion-img *ngIf="!photoService.photos[0]" [src]="nopic" 
           (click)="photoService.addNewToGallery()"></ion-img>
     </div>
      <ion-list class="greyBackground">
        
        <ion-item class="inputBox">
          <ion-label color="primary" position="stacked">Choose categories</ion-label>
          <ion-select id="mycats" [selectedText]="(mycategories.length>1) ? mycategories.join(', ') : mycategories[0]" 
            multiple="true" cancelText="Cancel" okText="Choose" 
            (ionChange)="setCategory($event)" [value]="mycategories">
            <ion-select-option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputBox">
          <ion-label position="stacked" color="primary">Country</ion-label>
          <ion-select formControlName="country" 
            [selectedText]="(userSrv.userSubject$.value && userSrv.userSubject$.value.country) ? userSrv.userSubject$.value.country : null" 
            placeholder="Choose one" (ionChange)="setCountry($event.target.value)">
            <ion-select-option *ngFor="let c of countries" [value]="c.countrycode">{{c.countryname}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Business name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Address (optional)</ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">City</ion-label>
          <ion-input formControlName="city" autocapitalize="on"></ion-input>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">State</ion-label>
          <!-- <ion-input formControlName="state"></ion-input> -->
          <ion-select okText="Select" cancelText="Cancel" formControlName="state" placeholder="Choose one">
            <ion-select-option *ngFor="let st of states" [value]="st">{{st}}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Zip/Postal code (optional)</ion-label>
          <ion-input formControlName="zip"></ion-input>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Phone number</ion-label>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
  
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Email address</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <div class="description ion-text-center" style="font-size:0.7em">
            This will also be used for authentication
          </div>
        </ion-item>
    
        <ion-item class="inputBox">
          <ion-label color="primary" position="floating">Website (optional)</ion-label>
          <ion-input formControlName="website"></ion-input>
        </ion-item>

        <ion-item class="inputBox" *ngIf="!isNew">
          <ion-label color="primary">Active</ion-label>
          <ion-toggle [checked]="businessAccount?.isActive==true" formControlName="isActive"></ion-toggle>
        </ion-item>

        <ion-item class="inputBox" *ngIf="isNew && (authService.getUser==undefined || authService.isGuest)">
          <ion-label color="primary" position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <div class="description ion-text-center" style="font-size:0.7em">
            Must be at least 6 characters long, with at least 1 number and 1 letter.
          </div>
        </ion-item>

        <ion-item class="inputBox" *ngIf="isNew && (authService.getUser==undefined || authService.isGuest)">
          <ion-label color="primary" position="floating">Confirm Password</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
    </ion-list>
  </form>
  <p class="ion-text-center description" *ngIf="isNew">
    You get {{newusercredits}} free credits just for registering.</p>
  <ion-button color="warning" fill="clear" size="large" expand="block"
    (click)="tools.goBack()" routerDirection="backward">Cancel</ion-button>
  <ion-button class="submit-btn" expand="block" *ngIf="isNew" 
    size="large" (click)="save()">Register</ion-button>
  <ion-button class="submit-btn" expand="block" [disabled]="disableSubmit" color="success" 
    size="large" *ngIf="!isNew" (click)="save()">Save changes</ion-button>  
</ion-content>