<ion-list class="ion-no-margin ion-no-padding">
  <ion-item class="popupmenu" (click)="goHome()">
    Home
  </ion-item>
  <ion-item class="popupmenu" (click)="goTo('/request-form')">
    New request
  </ion-item>
  <ion-item *ngIf="currentPage=='/tabs/home'" 
    class="popupmenu" (click)="goTo('/completed-requests')">
    Completed requests
  </ion-item>
  <ion-item *ngIf="businessService.businessSubject$.value && currentPage=='/tabs/home'" 
    class="popupmenu" (click)="goTo('/business-account')">
    Switch to business account
  </ion-item>
  <ion-item *ngIf="businessService.businessSubject$.value && currentPage=='/business-account'" 
    class="popupmenu" (click)="goTo('/tabs/home')">
    Switch to user accuont
  </ion-item>
</ion-list>