<ion-header color="tertiary" class="ion-padding ion-text-center">
  Please rate your experience with<h2>{{business?.name}}</h2>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button icon-only fill="clear" (click)="setRating(0)">
            <ion-icon [name]="(objRating.rating < 1) ? 'star-outline' : 'star'" class="ratingstar"></ion-icon>
          </ion-button>
          <ion-button icon-only  fill="clear" (click)="setRating(1)">
            <ion-icon [name]="(objRating.rating < 2) ? 'star-outline' : 'star'" class="ratingstar"></ion-icon>
          </ion-button>
          <ion-button icon-only fill="clear" (click)="setRating(2)">
            <ion-icon [name]="(objRating.rating < 3) ? 'star-outline' : 'star'" class="ratingstar"></ion-icon>
          </ion-button>
          <ion-button icon-only fill="clear" (click)="setRating(3)">
            <ion-icon [name]="(objRating.rating < 4) ? 'star-outline' : 'star'" class="ratingstar"></ion-icon>
          </ion-button>

          <ion-button icon-only fill="clear" (click)="setRating(4)">
            <ion-icon [name]="(objRating.rating < 5) ? 'star-outline' : 'star'" class="ratingstar"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p><i>{{ratingsDesc}}</i></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-label class="stacked" color="primary">Comments (optional)</ion-label>
    <ion-textarea rows="5" [value]="objRating.ratingNotes" (input)="objRating.ratingNotes = $event.target.value"></ion-textarea>
    <div style="margin-top:20px">
      <ion-button expand="block" size="large" color="warning" fill="clear" (click)="dismiss()">Cancel</ion-button>
      <ion-button expand="block" size="large" [disabled]="this.objRating.rating==0" (click)="saveRatings()">Rate</ion-button>
    </div>
</ion-content>