<!--  <ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Business account</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" *ngIf="business" size="small" (click)="goToAddEdit()" color="light">
        <ion-icon slot="end" name="pencil"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <app-top-right-menu slot="end"></app-top-right-menu>
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-border">
  <div class="header">
    <h2>Business account</h2>    
    <div style="display:flex; flex-direction: row;">
      <ion-button fill="clear" *ngIf="businessSrv.businessSubject$.value" size="small" (click)="goToAddEdit()" color="light">
        <ion-icon slot="end" name="pencil"></ion-icon>
      </ion-button> 
      <app-top-right-menu slot="end" color="light"></app-top-right-menu>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div *ngIf="businessSrv.businessSubject$.value">
<ion-grid class="stickyTop">
  <ion-row>
    <ion-col size="3" class="ion-padding">
      <ion-avatar>
        <ion-img *ngIf="businessSrv.businessSubject$.value.logo" [src]="businessSrv.businessSubject$.value.logo"></ion-img>
        <ion-img *ngIf="!businessSrv.businessSubject$.value.logo" src="assets/img/no-picture.png"></ion-img>
      </ion-avatar>
    </ion-col>

    <ion-col size="9">
      <div style="font-size:0.8em">
        <b>{{businessSrv.businessSubject$.value.name}}</b>
        <br><span *ngIf="businessSrv.businessSubject$.value.address">{{businessSrv.businessSubject$.value.address}}, </span>
        {{businessSrv.businessSubject$.value.city}}, {{businessSrv.businessSubject$.value.state}} {{businessSrv.businessSubject$.value.zip}}
        <br>{{businessSrv.businessSubject$.value.phone}}<span *ngIf="businessSrv.businessSubject$.value.email"> | {{businessSrv.businessSubject$.value.email}}</span>
        <!-- <br><i>{{categories}}</i> -->
        <div *ngIf="!businessSrv.businessSubject$.value.rating">
          Not yet rated
        </div>
      </div>
      <div *ngIf="businessSrv.businessSubject$.value.rating">
        <span *ngFor="let number of [1,2,3,4,5]">
          <ion-icon *ngIf="businessSrv.businessSubject$.value.rating / businessSrv.businessSubject$.value.ratingCount  >= number" name="star" class="ratingstar"></ion-icon>
          <span *ngIf="businessSrv.businessSubject$.value.rating / businessSrv.businessSubject$.value.ratingCount  < number">
            <ion-icon *ngIf="number - (businessSrv.businessSubject$.value.rating / businessSrv.businessSubject$.value.ratingCount) >= 1" name="star-outline" class="ratingstar"></ion-icon>
            <ion-icon *ngIf="number - (businessSrv.businessSubject$.value.rating / businessSrv.businessSubject$.value.ratingCount) < 1" name="star-half" class="ratingstar"></ion-icon>
          </span>
        </span>
      </div>
      <div style="display: flex; justify-content: space-between;  align-items: center;">
        <span><b>{{businessSrv.businessSubject$.value.credits}}</b> credit<span *ngIf="businessSrv.businessSubject$.value.credits>1">s</span></span>
        <ion-button fill="outline" size="small" (click)="loadCredit()" color="light">Load credits</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="requests">
      <ion-label>Requests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label>Messages</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'requests'">
      <ion-list>
        <ion-item *ngFor="let req of newRequests$ | async; trackBy:trackByFn" (click)="gotoDetails(req)">
          <ion-avatar slot="start">
            <img *ngIf="req.media" [src]="req.media[0]">
            <img *ngIf="!req.media" src="assets/img/no-picture.png">
          </ion-avatar>
          <ion-label>
            <b>{{req?.userName}}</b>
            <br>{{req?.businessId}}
            <span style="color:gray" *ngIf="req?.edited==true"> (edited)</span>
            <p>{{req?.city}}
            <br>{{req.details}}</p>
          </ion-label>
          <ion-note slot="end" color="primary" class="ion-text-right">
            <div class="listRequestDate">{{req?.createdDate | date : 'MMM d'}}</div>
            <ion-badge *ngIf="!req?.quote" color="primary">New</ion-badge>
            <span *ngIf="req?.quote" style="font-size:20px">{{currency}}{{req?.quote |  number:'1.0'}}</span>
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-accordion-group *ngIf="(completedRequests$ | async)?.length > 0">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Completed requests</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list *ngIf="(completedRequests$ | async)?.length > 0">
              <ion-item *ngFor="let req of completedRequests$ | async" (click)="gotoDetails(req)">
                <ion-avatar slot="start">
                  <img *ngIf="req.media" [src]="req.media[0]">
                  <img *ngIf="!req.media" src="assets/img/no-picture.png">
                </ion-avatar>
                <ion-label style="color:gray">
                  <b>{{req?.userName}}</b>
                  <span style="color:gray" *ngIf="req?.edited==true"> (edited)</span>
                  <p>{{req?.city}}
                  <br>{{req.details}}</p>
                </ion-label>
                <ion-note slot="end" color="medium" class="ion-text-right">
                  <div class="listRequestDate">{{req?.statusDate | date : 'MMM d'}}</div>
                  <div><span style='padding-right:3px;' *ngFor="let number of [5,4,3,2,1]">
                    <ion-icon [name]="(req?.rating < number) ? 'star-outline' : 'star'"></ion-icon>
                  </span>
                </div>
                </ion-note>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

    </div>

    <div *ngSwitchCase="'messages'">
      <ion-item *ngFor="let m of messages" button (click)="gotoMessage(m)">
        <ion-avatar slot="start">
          <img src="assets/img/person-circle-outline.svg">
        </ion-avatar>        
        <ion-label style="display: flex;justify-content: space-between;">
          <div>
            <b>{{m?.userName}}</b><br>
            <p style="color:gray">{{(m.chats[m.chats.length-1].sender == 'user') ? m.userName : 'You'}}: {{m.chats[m.chats.length-1].message}}</p>
          </div>
          <div style="font-size: 0.8em; color:gray">{{tools.timeAgo(m.chats[m.chats.length-1].createdDate)}}</div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</div>


<div *ngIf="businessSrv.businessSubject$.value == null" class="ion-text-center">
  <h1 style="color:grey; margin-top:30%">No business account</h1>
  <div class="graytext" style="padding:15px" *ngIf="isGuest">To set up a business account, you need to register as a regular user.
    <br><br>Please log out and register first.
    <br><br>
    <div>
      <ion-button (click)="tools.logOut()" color="danger" fill="outline">Log out</ion-button>
    </div>
  </div>
  <div class="graytext" *ngIf="!isGuest">
    <p>You don't have a business account</p>
    <ion-button *ngIf="!isGuest" (click)="goToAddEdit()" fill="outline">Set up an account</ion-button>
  </div>
  </div>

</ion-content>