.stickyTop
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: darkslategrey;
    color:white;
}

ion-item{ --border-color: #FFF; }
ion-header, .header
{
    background-color:darkslategray !important;
    color:#FFF;
}