<ion-header class="ion-no-border">
  <img src="/assets/img/sflogo.png" style="max-height:100px;">
  <h2>{{ pageTitle }}</h2>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <div class="whitebg">
  <app-auth-form
    (formSubmitted)="handleUserCredentials($event)"
    [actionButtonText]="actionButtonText" 
    [isPasswordResetPage]="url === 'reset'"
    [disableSubmit]="disableSubmit"
    >
  </app-auth-form>
<!--   <ion-button expand="block" fill="clear" (click)="guest()" *ngIf="url && url !== 'signup'">
    Continue as a guest
  </ion-button> -->
  <ion-button expand="block" fill="clear" routerLink="/reset" *ngIf="url && url !== 'reset'">
    I forgot my password
  </ion-button> 
  
  <ion-button expand="block" color="success" fill="clear" routerLink="/signup" *ngIf="url && url !== 'signup'">
    Register 
  </ion-button>

  
  <div class="description" style="margin-top:20px;text-align: center;">Do you have an existing request?</div>
  <ion-button expand="block" color="primary" fill="clear" routerLink="/start">
    Search 
  </ion-button>
</div>
</ion-content>