
.slimheading
{
    font-weight: 300;
    color:white;
    text-align: center;
}

.footer
{
    font-size: 0.8em;
    text-align: center;
    
}
ion-header
{
    text-align: center;
   /*  --ion-background-color: #f5f7f6; */
   --ion-background-color: #000;
   color: #FFF;
}
ion-content
{
    --ion-background-color: #000;

}
