<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Contact the developer</ion-title>    
    <ion-buttons slot="start">
<!--       <ion-button routerLink="/home">Home</ion-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="description ion-padding">Questions? Comments? Suggestions?
    <br>Just fill out this form and submit.</div>
   <form [formGroup]="contactForm">
<!--     <ion-item>
      <ion-label position="floating" color="primary">Your name</ion-label>
      <ion-input type="text" formControlName="uname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Your email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item> -->
      <ion-textarea rows="7" autocapitalize="on" formControlName="message"></ion-textarea>
   
  </form> 
  <ion-button routerLink="/tabs/settings" routerDirection=“back” 
    color="warning" expand="block" size="large" fill="clear">Cancel</ion-button>
  <ion-button class="submit-btn" [disabled]="!contactForm.valid" 
    expand="block" size="large" (click)="logForm()">Send</ion-button>
  
</ion-content>
