ion-content
{
    text-align: center;
   /*  --ion-background-color: #f5f7f6; */
   --ion-background-color: #000;
   color: #FFF;
   
    
}
ion-header
{
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
    text-align: center;
}
.inputBox
{
    margin:0px
}

.centerDiv
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width:90%
}
h1
{
    color:#FFF;
    text-align: center;
}
.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    justify-content: space-around;
    margin-top: 80px;
}

body{
    padding-top: 50px;
}