<ion-content fullscreen="true" class="ion-padding">
    <div style="margin-bottom: 20%;">
        <img src="/assets/img/sflogo.png" style="max-height:100px;">
        <h1>Service Finder</h1>
        <div style='color:white'>{{env}}</div>
    </div>
     <div class="whitebg ion-padding">
        <h4>Start a new request</h4>
        <ion-button expand="block" size="large" (click)="goToNewRequest()" color="success">Start</ion-button>
        <br>
        <h3>or</h3><br>
        Have an existing request?
        <ion-searchbar (ngModelChange)="showError=false" autocorrect="off" color="light"
            [(ngModel)]="code" placeholder="Enter the code"></ion-searchbar>
        <div *ngIf="showError" style="color:red; font-size: medium;">Incorrect code. Try again</div>
        <ion-button [disabled] = "code == ''" size="large" fill="clear" color="success" 
            (click)="goToRequest()">Search</ion-button>
    </div>
    <div class="footer ion-text-center">
        <div>
            Have an account? 
            <div style="display:flex; flex-direction: row;">
                <ion-button routerLink="/authentication" fill="clear">Sign in</ion-button>
                <ion-button routerLink="/signup" fill="clear">Register</ion-button>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            Business owner? 
            <ion-button routerLink="/business-account-form" fill="clear">Register here</ion-button>
        </div>
    </div>
</ion-content>

