<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>{{requestService.requestSubject$.value?.category}}</ion-title>
    <ion-buttons *ngIf="!auth.isGuest" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" color="dark" (click)="gotoEdit()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><div class="description">Date</div>{{tools.timeAgo(requestService.requestSubject$.value?.createdDate)}}</ion-col>
      <ion-col class="ion-text-end">
        <ion-icon *ngIf="requestService.requestSubject$.value?.status=='new'" (click)="delete()" color="danger" name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="description">Location</div>
          {{requestService.requestSubject$.value?.city}}, {{requestService.requestSubject$.value?.state}} {{requestService.requestSubject$.value?.zip}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="description">Details</div>
          {{requestService.requestSubject$.value?.details}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let pic of requestService.requestSubject$.value?.media">
        <img [src]="pic" style="max-height:120px" (click)="openPreview(pic)"> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="description ion-text-center">
    <span *ngIf="requestService.requestSubject$.value?.businessesNotified==0 && !quotes.length">
      Nearby businesses have been notified. Stay tuned.
    </span>
    <span *ngIf="requestService.requestSubject$.value?.businessesNotified==1 && !quotes.length">
      1 business has been notified.
    </span>
    <span *ngIf="requestService.requestSubject$.value?.businessesNotified>1 && !quotes.length">
      {{requestService.requestSubject$.value?.businessesNotified}} businesses have been notified.
    </span>
  </div>
  
  <div *ngIf="quotes.length>0">
    <p class="description ion-text-center">You have quotes! Tap on each for details.</p>
    <ion-list>
      <ion-item *ngFor="let q of quotes" (click)="gotoDetails(q)">
        <ion-avatar slot="start">
          <img *ngIf="q.businessLogo" [src]="q.businessLogo">
          <img *ngIf="!q.businessLogo" src="assets/img/no-picture.png">
        </ion-avatar>
        <ion-label>
          <b>{{q.businessName}}</b>
          <p>{{q.businessLocation}}</p>
        </ion-label>
        <ion-note slot="end" class="ion-text-right">
          <div style="font-size:10pt;">{{tools.timeAgo(q.statusDate)}}</div>
          <div style="font-size:18pt; color:black">{{currency}}{{q.amount | number}}</div>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

  <ion-button *ngIf="auth.isGuest" fill="clear" routerLink="/start">
    <ion-icon name="home-outline"></ion-icon></ion-button>
  <ion-button *ngIf="!auth.isGuest" fill="clear" routerLink="/tabs/home">
    <ion-icon name="home-outline"></ion-icon></ion-button>
<ion-footer class="ion-text-center ion-padding" *ngIf="requestService.requestSubject$.value?.status!='new'">

  <div *ngIf="requestService.requestSubject$.value?.status=='active'">
    <div class="description">Don't forget to rate the service after completion</div>
    <ion-button expand="block" (click)="rate()">Rate</ion-button>
  </div>
  <div *ngIf="requestService.requestSubject$.value?.status=='completed'" class="ion-text-center graytext ion-padding">
    You rated the service<br>
    <span style='padding-right:3px; font-size:2em' *ngFor="let number of [1,2,3,4,5]">
      <ion-icon [name]="(requestService.requestSubject$.value?.rating < number) ? 'star-outline' : 'star'"></ion-icon>
    </span>
    <p *ngIf="requestService.requestSubject$.value?.ratingNotes != null && requestService.requestSubject$.value?.ratingNotes != ''">Comment: "{{requestService.requestSubject$.value?.ratingNotes}}"</p>
  </div>
</ion-footer>